@font-face {
    font-family: Nunito;
    src: url(assets/fonts/Nunito-Regular.ttf);
}

@font-face {
    font-family: Nunito-medium;
    src: url(assets/fonts/Nunito-Medium.ttf);
}

@font-face {
    font-family: Nunito-semibold;
    src: url(assets/fonts/Nunito-SemiBold.ttf);
}

@font-face {
    font-family: Nunito-bold;
    src: url(assets/fonts/Nunito-Bold.ttf);
}

@font-face {
    font-family: CoreCircus;
    src: url(assets/fonts/CoreCircus.ttf);
}

@font-face {
    font-family: RemachineScript;
    src: url(assets/fonts/RemachineScript_Personal_Use.ttf);
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
}

body {
    background-color: aliceblue;
    background-image: url("./assets/images/luffy-bg-dark.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    overflow-x: hidden;
}
